/**
 * Styles global file
 */
@import "./variables.less";

body {
  background-color: @color-black;
}

@font-face {
  font-family: "OpenSans";
  src: url('@{font-path}OpenSans-Regular-webfont.woff') format('woff'), url('@{font-path}OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Stalemate";
  src: url('@{font-path}Stalemate-Regular.ttf') format('truetype');
}

.circuit-bg {
  width: 480px;
  height: 640px;
  margin: auto auto;
  margin-top: 100px;

  &.circuit1 {
    background: url('../imgs/circuit1.jpg') no-repeat 0 0;
  }

  &.circuit2 {
    background: url('../imgs/circuit2.jpg') no-repeat 0 0;
  }

  &.circuit3 {
    background: url('../imgs/circuit3.jpg') no-repeat 0 0;
  }

  &.circuit4 {
    background: url('../imgs/circuit4.jpg') no-repeat 0 0;
  }

  &.circuit5 {
    background: url('../imgs/circuit5.jpg') no-repeat 0 0;
  }
}

.navigation-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.container {
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  top: 80px;
  left: 6px;
  z-index: 50;

  > .container-circuits {
    width: 500px;
    height: 100%;
    list-style: none;

    > li {
      width: 500px;
      height: 80px;
      display: block;

      > .circuit {
        width: 200px;
        height: 100%;
        float: left;
        background-color: white;
        border: 2px solid green;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      > .detail-circuit {
        position: relative;
        float: left;
        width: 300px;
        height: 100%;
        border: 2px solid blue;

        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -ms-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;

        -webkit-animation-delay:0s;
        -moz-animation-delay:0s;
        -ms-animation-delay:0s;
        -o-animation-delay:0s;
        animation-delay:0s;
      }
    }
  }
}